<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.infect.mapper.SymptomweightingMapper">
    <!-- 统计权重分数之和 -->
    <select id="selectCountByUpdateDTOList" resultType="java.math.BigDecimal">
        SELECT SUM(weightScore)
        FROM SymptomWeighting
        WHERE symptomWeightingId IN
        <foreach collection="updateDTOList" item="item" index="index" open="(" separator="," close=")">
            #{item.symptomWeightingId}
        </foreach>
    </select>
</mapper>
